<div class="col-md-3 col-xs-12 widget widget_tally_box" ng-controller="resourceCtrl">
    <div class="x_panel ui-ribbon-container fixed_height_390">
        <div class="ui-ribbon-wrapper">
            <div class="ui-ribbon">
{{currentState}}
            </div>
        </div>
        <div class="x_title">
            <h2>Agent Name</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_panel">
            <div class="x_content">

                <a class="btn btn-app">
                    <i class="fa fa-pause" ng-click="BreakRequest('Lunch')"></i> Lunch
                </a>
                <a class="btn btn-app">
                    <i class="fa fa-play" ng-click="BreakRequest('Official')"></i> Official
                </a>

                <a class="btn btn-app">
                    <i class="fa fa-play" ng-click="BreakRequest('Tea')"></i> Tea
                </a>

                <a class="btn btn-app">
                    <i class="fa fa-play" ng-click="BreakRequest('Training')"></i> Training
                </a>

                <a class="btn btn-app">
                    <i class="fa fa-play" ng-click="BreakRequest('Wrap')"></i>Wrap
                </a>

                <a class="btn btn-app">
                    <i class="fa fa-play" ng-click="BreakRequest('Meeting')"></i> Meeting
                </a>
            </div>
            <a class="btn btn-app">
                <i class="fa fa-play" ng-click="EndBreakRequest()"></i> Available
            </a>
        </div>
    </div>
</div>
